<header>
  
  <h1>Eat-A-Burger</h1>

</header>

<main>

  <div class="container">
    <div class="menu">
      <h2>Choose Your Burger</h2>
      <ul>
        <li>Burger 1</li>
        <li>Burger 2</li>
        <li>Burger 3</li>
      </ul>
      <a href="#" class="waves-effect waves-light">Eat-Da-Burger!</a>
    </div>
    <div class="row">
      
      <div class="col l6 s12">
      <a href="#" class="waves-effect waves-light">Devour It</a>
      </div>

      <div class="col l6 s12">

      </div>
    
    </div>

  </div>



















</main>
